* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}



// Common components

.button {
  padding: 30px 15px;
  cursor: pointer;
  outline: none !important;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: #313030;
  text-transform: uppercase;
  color: #fff;
  position: relative;

  &:active {
    color: #dc143c;
  }
}

.button::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: 6px;
  width: 100%;
  border: 1px solid #313030;
  opacity: 0;
  visibility: hidden;
}

.button:hover::before {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  transform: translate(6px, -6px);
}

.header__title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 700;
  position: relative;

}

.header__address {
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

.header__phone {
  padding: 16px 15px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  background-color: #313030;
  color: #fff;


  a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.header__burger {
  background-color: #313030;
  width: 100%;
}

.main {
  margin-top: 60px;
}

.slider__image {
  position: relative;
}

.slider__image img {
  max-width: 100%;
}

.slider__image::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -22px;
  right: 25%;
  bottom: -51px;
  background-color: #e8e0e0;
  z-index: -2;
}

.main__description {
  font-size: 48px;
  font-weight: 600;
  line-height: 104%;
  color: #313030;
}

.main__description:last-of-type {
  margin-top: 20px;
  color: #dc143c;
}

.main__button {
  margin-top: 55px;
}

.slider__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  & span {
    margin-top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C4C4C4;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      background-color: #313030;
    }
  }
}

.pricing {
  margin-top: 110px;
  width: 100%;

  .pricing__header {
    font-size: 48px;
    font-weight: 600;
  }

  .pricing__form {
    margin-top: 35px;
    font-size: 14px;
    font-weight: 400;

    .form__item {
      margin-top: 20px;

      label {
        color: #C4C4C4;
      }

      .form__input {
        margin-top: 20px;
        padding: 27px 32px;
        border: 1px solid #C4C4C4;
        background-color: transparent;
        outline: none;
        color: #dc143c;
        width: 100%;
      }
    }

    .form__button {
      font-size: 14;
      font-weight: 400;
      width: 100%;
      text-align: right;
    }
  }
}